#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@media only screen and (max-width: 767px) {
  .hero-page{
    flex-direction: column;
    /* margin-top: 5% !important; */
  } 
  .chota{
    width: 100px !important;
  }
  
  .goru1{
    width: 100% !important;
  }
  .goru{
    width: 300px  !important;
  }
  .col-span-1{
    width: 150px !important;
  }
  .authorname{
    width: 150px !important;
  }
  .goru2{
    margin-top: 24px;
  }
  .goru3{
    width: 300px !important;
  }
  .addpost{
    flex-direction: column !important;
  }
  .rte{
    width: 80vw !important;
  }
  .content1{
    margin-top: 20px;
  }
  .profileimg{
    width: 180px !important;
    height: 180px !important;
  }
  .profileflex{
    flex-direction: column !important;
  }
  .profileflex1{
    align-content: flex-start !important;
  }
}